/* .banner{
    /* position: absolute;
    width: 1180px;
    height: 411px;
    left: 110px;
    top: 231px; */
    /* background: url('../images/monster.png') no-repeat right;
    
    
}
.banner_title{
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 50px;
}
